<div class="footer-bottom">
    <div class="container">
       
                <img src="/static/user-assets/images/logo2.png" class="footer-logo" alt="Footer Logo" width="50" >
                <p class="footer-copyright" style=" margin-left:790px">Copyright © Perfume Shop. All Rights Reserved.</p><!-- End .footer-copyright -->
   
    </div><!-- End .container -->
</div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>


<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <nav class="mobile-nav">
            <ul class="mobile-menu">
                <li >
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/shop">Shop</a>
                    
                </li>
                <li>
                    <a href="/product" class="sf-with-ul">Product</a>
                    
                </li>
                <li>
                    <a href="/order" class="sf-with-ul">Orders</a>
                    
                </li>
                <li>
                    <a href="/dashboard">Profile</a>
                    
                </li>
            </ul>
        </nav><!-- End .mobile-nav -->

        <div class="social-icons">
            <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->

  
  <!-- Plugins JS File -->
  <script src="/static/user-assets/js/jquery.min.js"></script>
  <script src="/static/user-assets/js/bootstrap.bundle.min.js"></script>
  <script src="/static/user-assets/js/jquery.hoverIntent.min.js"></script>
  <script src="/static/user-assets/js/jquery.waypoints.min.js"></script>
  <script src="/static/user-assets/js/superfish.min.js"></script>
  <script src="/static/user-assets/js/owl.carousel.min.js"></script>
  <script src="/static/user-assets/js/bootstrap-input-spinner.js"></script>
  <script src="/static/user-assets/js/jquery.elevateZoom.min.js"></script>
  <!-- <script src="/static/user-assets/js/bootstrap-input-spinner.js"></script> -->
  <script src="/static/user-assets/js/jquery.magnific-popup.min.js"></script>
  <!-- Main JS File -->
  <script src="/static/user-assets/js/main.js"></script>
</body>
</html>